:root {
    --red: #b60000;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: "OpenSans", sans-serif;
}

#root {
    display: grid;
}

.main-box {
    margin: auto;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: var(--red);
    text-align: left;
}

header {
    font-size: 1.5rem;
    padding: 20px;
    background-color: var(--red);
    color: white;
}

#dialog {
    display: flex;
    flex-direction: column;
    width: 96vw;
    max-width: 720px;
    border: 1px solid var(--red);
    border-radius: 3px;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#footer {
    display: flex;
    height: 5em;

    justify-content: flex-end;
    padding-top: 20px;
    width: 384px;
    right: 0;
    position: fixed;
    
    max-width: 720px;
    background-repeat: no-repeat;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 10px 20px 10px;
}

.button {
    margin-top: 0px;
    margin-bottom: 5px;
    color: var(--red);
    font-size: 1rem;
    padding: 15px;
    background-color: white;
    border-radius: 3px;
    border: solid 2px var(--red);
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}
.button:hover {
    color: white;
    background-color: var(--red);
}
.button:active {
    margin-top: 5px;
    margin-bottom: 0px;
}

#public-token {
    word-break: break-word;
}
#public-token-copy,
#public-token-copy__copied {
    float: right;
    text-align: center;
    margin: 15px 10px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
}
#public-token-copy:hover {
    border-radius: 3px;
    color: white;
    background-color: var(--red);
}

.text-align-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: royalblue;
}
a:hover {
    font-style: italic;
}

#tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: none;
    color: var(--red);
    margin: 0px;
    transition: 0.3s;
}

#tabs div {
    width: 80%;
    padding: 16px;
    margin: 0px 10px;
    border: solid 1px var(--red);
    border-bottom: none;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}

#tabs div.active {
    background-color: var(--red);
    color: white;
}

#transfer-inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 20px 10px;
}

#transfer-inputs input[type="text"] {
    padding: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: solid 2px var(--red);
    outline: none;
    font-size: 1rem;
    border-right: none;
    margin-top: 0px;
    margin-bottom: 5px;
}

#transfer-inputs input[type="number"] {
    padding: 15px;
    width: 60px;
    border: solid 2px var(--red);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: none;
    outline: none;
    margin-right: 5px;
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: right;
}

/* Removes arrows in input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.form-apna {
   padding: 0.8em;
}

.formFields {
    padding: 0.2em;
    margin: 0.2em;
}

#form-name {
    width: 50%;
}

#form-ka-button {
    padding-left: 78%;
    margin-right: 0;
}